{{ define "index" }}

<!DOCTYPE html>
<html>
<head>
    <title>index</title>
</head>
<body>

    <form name="test" method="post" action="/encrypt">
        <p><b>Encrypter: secretkey must be 32 bytes</b><br>
            <input type="text" size="50" name="secretkey">
        </p>
        <p><b>content:</b><Br>
            <textarea cols="50" rows="3" name="content"></textarea>
        </p>
        <p><input type="submit" value="ENCRYPT your text">
        <input type="reset" value="reset"></p>
    </form>

    <form name="test" method="post" action="/decrypt">
        <p><b>Decrypter: secretkey must be 32 bytes</b><br>
            <input type="text" size="50" name="secretkey">
        </p>
        <p><b>content:</b><Br>
            <textarea cols="50" rows="3" name="content"></textarea>
        </p>
        <p><input type="submit" value="DECRYPT your text">
        <input type="reset" value="reset"></p>
    </form>
    
        <b>Output encrypt/decrypt text:</b>
        <p>
            {{ range $key, $value := . }}
            <output>{{$value.X}}</output>
            {{ end }}
        </p>
        <br>
        <p>a very very very very secret key</p>


</body>
</html>

{{ end }}